{% if site and site.id == "angestoepselt" %}
	{% extends "layouts/base/angestoepselt.njk" %}
{% elseif site and site.id == "coderdojo" %}
	{% extends "layouts/base/coderdojo.njk" %}
{% else %}
	{% extends "layouts/base/main.njk" %}
{% endif %}
