---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

<p class="post-metadata">
	{% if source %}
		{% if sourceLogo %}
			<img src="/assets/logos/{{ sourceLogo }}" alt="Logo für {{ source }}" />
		{% endif %}
		Ursprünglich erschienen:
		<span>{{ source }}</span>,
	{% endif %}
	<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</p>

{{ content | safe }}
