---
layout: layouts/page.njk
eleventyNavigation:
  key: Neuigkeiten
  order: 70
---

<h1>Unsere Pinnwand</h1>

<p>
  Hier findest du alles Aktuelle zu unserem Vereinsgeschehen.
  Du kannst uns natürlich auch gerne auf dem sozialen Netzwerk Mastodon folgen.
</p>

<p>
  <a class="cta-link" href="https://social.tchncs.de/@angestoepselt" target="_blank" rel="noreferrer noopener me">Angestöpselt auf Mastodon</a>
</p>

<p>
	Weiterhin haben wir hier auch eine paar ausgewählte Pressestimmen aus den vergangenen Jahren zusammengestellt.
	Sie berichten ein wenig über unser Vereinsleben und unsere Aktionen.
</p>

<div class="post-list">
  {% for post in collections.posts | reverse %}
    <article>
      <a
      	class="post-card {% if post.data.source %}external{% endif %}"
      	{% if post.data.url %}
      		href="{{ post.data.url }}"
      		target="_blank" rel="noopener noreferrer"
      	{% else %}
      		href="{{ post.url }}"
      	{% endif %}
      >
      	<h2>
					{% if post.data.source and post.data.sourceLogo %}
						<img src="/assets/logos/{{ post.data.sourceLogo }}" alt="Logo für {{ post.data.source }}" />
					{% endif %}
        	{{ post.data.title }}
        </h2>
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <p>{{ post.data.blurb }}</p>
      </a>
    </article>
  {% endfor %}
</div>
