$subtle: 0.1s cubic-bezier(0.56, 0.03, 0.35, 0.9);
$gentle: 0.2s cubic-bezier(1, 0.11, 0.41, 0.69);
$prominent-duration: 0.7s;
$prominent-timing: cubic-bezier(0.45, 0.16, 0.38, 0.7);
$prominent: $prominent-duration $prominent-timing;
$background: 8s cubic-bezier(0.45, 0.16, 0.38, 0.7);
